.app {
  font-family: "Century Gothic", sans-serif;
  font-size: 30px;
  color:  rgba(223, 249, 251, 0.9);
  width: 100%;
  height: 100%;
  z-index: -10;
  background-color: rgba(83, 82, 237,0.9);
  overflow: hidden;
}

.header
{
  position: relative;
}

.background
{
  background: url("./Images/background_cv.png") repeat;
  animation: cloud linear 120s infinite;
  background-position: 0 0;
  position: absolute;
  width: 25000px;
  height: 6500px;
  top: 0;
  left: -1800px;
  z-index: -1;
}

h3
{
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

@keyframes cloud {
  from{
    transform: translateX(-1000px);
  }

  to {
    transform: translateX(2000px);
  }
}


