.contact p
{
    font-size: 25px;
}

.contact
{
    background-color: rgba(25, 42, 86, 0.9);
}

.title_coordonnees
{
    font-size: 50px;
    margin-left: 5vh;
}

.github_link
{
    max-width: 125px;
}

.github_icon
{
    width: 100%;
    margin-left: 5vh;
}
.coordonnees
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.email::before{
    content: url("./Images/email_icon.PNG");
    padding-right: 2vh;
}

.phone::before{
    content: url("./Images/phone_icon.PNG");
    padding-right: 2vh;
}

.phone
{
    margin-left: 5vh;
}

.email
{
    margin-left: 5vh;
}

.birth
{
    margin-left: 5vh;
}

@media(min-width: 880px) {

    .coordonnees
    {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contact p
    {
        font-size: 30px;
    }

    .github_icon
    {
        margin-bottom: 2vh;
    }

    .github_icon
    {
        margin-left: 0;
        padding-left: 1vh;
    }
}

@media(min-width: 1900px) {
    .contact p
    {
        font-size: 45px;
    }

    .coordonnees
    {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .phone
    {
        margin-left: 0;
    }

    .email
    {
        margin-left: 0;
    }

    .birth
    {
        margin-left: 0;
    }
    .github_icon
    {
        padding-left: 0;
    }
}