.title_parcours
{
    font-size: 60px;
    margin-left: 5vh;
}

.parcours_title
{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.description{
    height: 150px;
    text-align: center;
}

.parcours{
    display: flex;
}

.carousel_item {
    width: 100%;
    border-width: 7px;
    border-style: solid;
    border-color: rgba(223, 249, 251, 0.9);
    border-radius: 10%;
    background-color: rgba(55, 66, 250,0.6);
    padding: 10px;
}

.stage_name{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.stage_date{
    display: flex;
    justify-content: center;
}

.carousel{
    margin-left: 2vh;
}

@media(max-width: 1200px) {
    .parcours
    {
        flex-direction: column;
    }

    .description
    {
        text-align: center;
    }
}

.rec.rec-slider-container{
    width: 800px;
}

.rec.rec-pagination
{
    opacity: 0;
}

.rec.rec-carousel-wrapper
{
    overflow: hidden;
}