.title_exp
{
    font-size: 60px;
    margin-left: 5vh;
    color: rgba(223, 249, 251, 0.9);
}

.description{
    height: 170px;
    white-space: normal;
}

.experience{
    padding-top: 50px;
    overflow: hidden;
}

.carousel_item {
    width: 100%;
    border-width: 7px;
    border-style: solid;
    border-color: #2c3e50;
    border-radius: 10%;
    background-color: rgba(210, 218, 226, 0.8);
    padding: 10px;
}

.stage_name{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.stage_date{
    display: flex;
    justify-content: center;
}

.carousel{
    display: flex;
    margin-left: 2vh;
}

@media(max-width: 1200px) {
    .carousel
    {
        flex-direction: column;
    }

    .description
    {
        text-align: center;
    }
}

.rec.rec-slider-container{
    width: 800px;
}

.rec.rec-pagination
{
    opacity: 0;
}