.experience_section
{
    display: flex;
    flex-direction: row;
}

.title
{
    font-size: 60px;
    margin-left: -150px;
    margin-bottom: 100px;
}
.arrow{
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
}

.arrows{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-right: 50px;
    margin-top: 520px;
}

.description{
    align-self: flex-end;
    margin-left: 1500px;
    margin-bottom: 400px;
}

.experience{
    padding-top: 250px;
}

.stage {
    border-width: 7px;
    border-style: solid;
    border-color: rgba(210, 218, 226, 1.0);
    border-radius: 25% 10%;
    background-color: rgba(52, 231, 228, 0.2);
    margin-bottom: 40px;
}

.stage_name{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.stage_date{
    display: flex;
    justify-content: center;
}