.hobbies
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.content{
    display: flex;
    flex-direction: column;
}


@media(min-width: 1200px) {
    .hobbies
    {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .content
    {
        flex-direction: column;
    }

    .skate
    {
        margin-left: 5vh !important;
    }

    .video_games
    {
        margin-left: 5vh !important;
    }

    .desc
    {
        margin-left: 4vh !important;
    }

    .desc_games
    {
        margin-left: 4vh !important;
    }

}

@media(min-width: 1700px) {
    .hobbies
    {
        flex-direction: row;
    }

    .content
    {
        flex-direction: row;
    }
}

.title_loisirs
{
    font-size: 60px;
    margin-left: 5vh;
}

.skate_photo {
    height: 396px;
    width: 324px;

    border-radius: 60px;
    border-style: solid;
    border-color: rgba(210, 218, 226, 1.0);
    border-width: 7px;
    margin-bottom: 10px;
    align-self: center;
}

.fn_photo
{
    width: 308px;
    height: 412px;
    border-radius: 60px;
    border-style: solid;
    border-color: rgba(210, 218, 226, 1.0);
    border-width: 7px;
    align-self: center;
}

.skate
{
    margin-left: 1vh;
}

.video_games{
    margin-left: 1vh;
}

.desc{
    width: 450px;
    align-self: center;
    text-align: center;
    margin-left: 2vh;
}

.desc_games
{
    align-self: center;
    text-align: center;
    margin-left: 2vh;
}