
.contact
{
    margin-right: 20px;
    align-self: flex-end;
    margin-bottom: -250px;
}

.title_coordonnees
{
    font-size: 60px;
    color: rgba(223, 249, 251, 0.9);
}

.name
{
    font-size: 150px;
    margin-left: 50px;
    margin-top: 150px;
    color: rgba(223, 249, 251, 0.9);

}

.presentation
{
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
}

.photo
{
    align-self: center;
    margin-left: 70px;
    width: 250px;
    height: 250px;
    border-radius: 150px;
    border-style: solid;
    border-color: #25CCF7;
    border-width: 7px;
}

.intro
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.presentation_text
{
    margin-top: 50px;
    margin-left: 150px;
}

.contact ul li
{
    list-style-type: none;
}

.email::before{
    content: url("./Images/email_icon.PNG");
    margin-right: 20px;
}

.phone::before{
    content: url("./Images/phone_icon.PNG");
    margin-right: 20px;
}