.name
{
    font-size: 8vh;
    margin-left: 10vh;
}

@media(max-width: 1700px) {

    .name
    {
        margin-block-end: 0.2rem;
        text-align: start;
        font-size: 6vh;
    }
}

@media(max-width: 1300px) {
    .name
    {
        margin-left: 5vh;
    }
}

@media(max-width: 800px)
{
    .photo
    {
        margin-left: 2vw !important;
        margin-right: 2vw;
    }

    .name
    {
        margin-left: 2vh;
    }

    .title
    {
        flex-direction: column;
    }
}

.photo
{
    width: 25vh;
    height: 25vh;
    margin-left: 10vw;
    margin-top: 2vh;
    border-radius: 150px;
    border-style: solid;
    border-color: rgba(223, 249, 251, 0.9);
    border-width: 7px;
}

.intro
{
    display: flex;
    flex-direction: column;
}

.title
{
    display: flex;
}

.presentation_text
{
    align-self: flex-start;
    margin-left: 10vh;
    font-size: 40px;
}